pyserial>=3.5
numpy==1.21.6; python_version < "3.8"
numpy>=1.23; python_version >= "3.8"
scipy==1.7.3; python_version < "3.8"
scipy>=1.9; python_version >= "3.8"
matplotlib==3.5.3; python_version < "3.8"
matplotlib>=3.6; python_version >= "3.8"
soundfile>=0.12.1
sounddevice>=0.4.6
